[Unit]
Description=eyeMagic Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /opt/eyeMagic/bin/eyeMagic-1.0.0-jar-with-dependencies.jar 
User=root

[Install]
WantedBy=multi-user.target
